div.IATS_Div{
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;  
	border-radius: 16px;
	border: 9px solid #3a99b4;     /* moderate cyan */
	color: #000;
	font-family: "helvetica neue", helvetica, arial, sans-serif;
	font-size: 100%;
	margin-bottom: 40px;
	padding: 4px;
}

div.IATS_InnerDiv{
	background: #f1f6f6;         /* light grayish cyan */
	-webkit-border-radius: 8px; 
	-moz-border-radius: 8px;
	border-radius: 8px;
}
div.IATS_HeaderDiv{
	width: auto;
	height: auto;
}
div.IATS_ContentDiv{
	width: auto;
	overflow: visible;
	overflow-x: visible;
}

/* Main and sub titles
----------------------------------------------- */
label.IATS_EventTitle{
    clear: both;
	color: maroon;             /* very dark cyan */
	float: none;
	font-family: "arial black", arial, helvetica, sans-serif, verdana, tahoma;
	font-size: 2em;
	margin: 0px;
	padding: 0 0 .5em 2px;
	width: auto;
}
span.IATS_EventDescription{
	display: block;
	font-size: 0.9em;
	padding: .5em 0 0.3em 2px;
	clear: both;
}
span.IATS_AmountSectionTitle{
    clear: both;
    color: maroon;
    display: block;
	float: none;
	font-family: arial, helvetica, sans-serif, verdana, tahoma;
	font-size: 1.2em;
	font-weight: bold;
	letter-spacing: 1px; 
	margin: 0px;
	padding-left: 3px;
	width: auto;
}
span.IATS_PaymentSectionTitle{
   	clear: both;
   	color: maroon;
    display: block;
	float:none;
	font-family: arial, helvetica, sans-serif, verdana, tahoma;
	font-size:1.2em;
	font-weight: bold;
	letter-spacing: 1px; 
	margin: 0px;
	padding-left: 3px;
	width:auto;
}
label.IATS_RadioAmtLabel{
	border-color: transparent;
	border-width: 0;
	border: none;
	display: inline;
	clear: left;
	float: none;
	height: 13px;
	line-height: 1.5em;
	margin: 0.6em 0pt 0pt 15px;
	background-color: transparent;
	vertical-align: middle;
}
label.IATS_RadioPaymentLabel{
	border-color:transparent;
	border-width:0;
	border:none;
	display:inline;
	clear:left;
	float:none;
	height:13px;
	line-height:1.5em;
	background-color:transparent;
	vertical-align:middle;
	margin-right:10px;
	font-weight:600;
	color:#000;
}

label.IATS_QtyLabel{
	border-color: transparent;
	border-width: 0;
	border: none;
	display: inline;
	clear: right;
	float: none;
	height: 13px;
	line-height: 1.5em;
	text-align: right;
	margin: 0.6em 0pt 0pt 0pt;
	background-color: transparent;
	vertical-align: middle;
	margin-right:.5em;
}
div.IATS_QtyDiv{
	text-align:right;
	margin-top:-20px;
}
div.IATS_TotalDiv{
	text-align: right;
	font-weight: bold;
	padding-right: 3px;
}
div.IATS_RecurringTotalDiv{
	text-align:left;
	margin-top:0.5em;
	margin-bottom:0.5em;
}

input.IATS_QtyInput{
	width:20px; 
	border: 1px solid #9fb6ca;
	text-align:center;
}

div.IATS_AmountItemDiv,
div.IATS_ProfileItemDiv,
div.IATS_PaymentItemDiv,
div.IATS_ResponseItemDiv{
	display:block;
	font-size:0.9em;
	width:auto;
	overflow:visible;
	overflow-x:visible;
	padding:.2em 0 .2em 0;
	margin: 0 0.1em 0.59em 0.1em;
}
div.IATS_SelectItemsDiv{
	font-size:0.9em;
	width:auto;
	overflow:visible;
	overflow-x:visible;
	padding:.2em 0 .2em 0;
	margin: 0 0.1em 0.59em 7em;
}
div.IATS_SelectItemsSubDiv{
	font-size:0.9em;
	width:auto;
	overflow:visible;
	overflow-x:visible;
	padding:.2em 0 .2em 0;
	margin: 0 0.1em 0.59em 12em;
}
div.IATS_SelectItemsSubDivOnTop{
	font-size:0.9em;
	width:auto;
	overflow:visible;
	overflow-x:visible;
	padding:.2em 0 .2em 0;
	margin: 0 0.1em 0.59em 0.1em;
}
div.IATS_PaymentTypeItemDiv{
	display:block;
	font-size:0.9em;
	width:auto;
	overflow:visible;
	overflow-x:visible;
	padding:.2em 0 .2em 0;
	padding-left:140px;
	margin: 0 0.1em 0.59em 0.1em;
}
label.IATS_PaymentLabelOnLeft{
	float:left;
	width:140px; 
	padding-left: 0.1em;
}
label.IATS_PaymentLongItem{
	float:left;
	width:100%; 
	padding-left: 0.1em;
}
label.IATS_PaymentLabelOnTop{
	float:none;
	display:block;
	padding-left: 0.1em;
	padding-bottom: 0.3em;
	clear:both;
}

span.IATS_PaymentLabelOnTop,
span.IATS_PaymentLabelOnLeft{
	clear:left;
}
span.IATS_PaymentLabelOnTop.IATS_OtherAmtMinimum{
	display:block;
	clear:left;
	float:none;
	margin:0.6em 0pt 0pt 90px;
}
span.IATS_PaymentLabelOnLeft.IATS_OtherAmtMinimum{
	display:inline;
	clear:left;
	float:none;
	margin:0.6em 0pt 0pt 5px;
}
span.IATS_SecuritySectionTitle{
    display: block;
	font-size:1.2em;
	font-weight:bold;
	padding:0.5em 0 0em 0;
	float:none;
	clear:both;
	margin:0px;
	width:auto;
}

div.IATS_AmountDiv,
div.IATS_ProfileDiv,
div.IATS_PaymentDiv,
div.IATS_FooterDiv,
div.IATS_ResponseDiv{
	display:block;
	font-size:0.9em;
	width:auto;
	overflow:visible;
	overflow-x:visible;
	padding:.2em 0 .2em 0;
}

span.IATS_PaymentSectionNote{
    display: block;
	font-size:11px;
	padding:.5em 0 1.0em 3px;
	float:none;
	clear:both;
	margin:0px;
	width:auto;
}

label.IATS_InputRequired{
	font-weight:bold;
}

input.IATS_PaymentInputField{
	width:195px; 
	border: 1px solid #9fb6ca;        /* grayish blue */
}
input.IATS_PaymentDateInputField{
	width:90px; 
	border: 1px solid #9fb6ca;
	margin-right: 5px;
}

textarea.IATS_PaymentInputField{
    border: 1px solid #9fb6ca;
}

/* change textbox border on focus
----------------------------------------------- */
input.IATS_QtyInput:focus,
input.IATS_PaymentInputField:focus,
input.IATS_PaymentDateInputField:focus,
textarea.IATS_PaymentInputField:focus,
input.IATS_AccountNumberField:focus,
input.IATS_CVV2Field:focus,
input.IATS_LastAccountNumberField:focus,
input.IATS_ACHInput:focus,
input.IATS_OtherAmount:focus
{
    border: 2px solid #3a99b4;
}

select.IATS_PaymentReoccurringInputField{
	width:90px; 
	border: 1px solid #9fb6ca;
}

/** Error Notifications **/
span.IATS_PaymentLabelOnLeft.IATS_PaymentItemErrorMessage{
	color: #dd3c10;             /* vivid red */
	display:none;
	font-size:0.9em;	
	margin-left:145px;
}
span.IATS_PaymentLabelOnTop.IATS_PaymentItemErrorMessage{
	color: #dd3c10;
	display:none;
	font-size:0.9em;	
	margin-left:5px;
}
span.IATS_PaymentLabelOnLeft.IATS_PaymentMinimumErrorMessage{
	color: #dd3c10;
	display:none;
	font-size:0.9em;	
	margin-left:95px;
}
span.IATS_PaymentLabelOnTop.IATS_PaymentMinimumErrorMessage{
	color: #dd3c10;
	display:none;
	font-size:0.9em;	
	margin-left:5px;
}
span.IATS_ErrorMessage{
	color: #dd3c10;
	margin-left:40px;
	font-size:0.9em;
	font-weight: bold;
}
div.IATS_ErrorMsgDiv{
	visibility:hidden;
	font-size:0.9em;
	width:auto;
	padding:.2em 0 .2em 0;
}

input.IATS_AccountNumberField,
input.IATS_CVV2Field{
	width:37px; 
	margin-right: 7px;
	border: 1px solid #9fb6ca;
}

select.IATS_ExpiryMonthField,
select.IATS_ExpiryYearField{
    border: 1px solid #9fb6ca;
}

select.IATS_PaymentType{
	width:144px;
	margin-right: 4px;
}

input.IATS_ACHInput,
select.IATS_ACHInput{
	width:96px;
	margin-right: 4px;
	border: 1px solid #9fb6ca;
}

input.IATS_LastAccountNumberField{
	width:43px; 
	margin-right: 7px;
	border: 1px solid #9fb6ca;
}

input.IATS_RadioAmtButton{
	border-color:transparent;
	border-width:0;
	border:none;
	display:inline;
	clear:left;
	float:none;
	height:13px;
	line-height:1.5em;
	margin:0.6em 0pt 0pt 3px;
	width:13px;
	background-color:transparent;
}
input.IATS_RadioPaymentButton{
	border-color:transparent;
	border-width:0;
	border:none;
	display:inline;
	float:none;
	height:13px;
	line-height:1.5em;
	width:13px;
	background-color:transparent;
}

select.IATS_PaymentInputField{
	width:195px; 
	border: 1px solid #9fb6ca;
}
select.IATS_PaymentTitleInputField{
	width:100px; 
	border: 1px solid #9fb6ca;
}

/* Button styles
----------------------------------------------- */
span.IATS_Action{
	display:block;
	font-size:1.65em;
	width:auto;
	overflow:visible;
	overflow-x:visible;
	padding:0.2em 0 0.2em 3.75em;
	margin:0.6em 0pt 0pt 10px;
}
button.IATS_Action{
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
    background:#25A6E1;
	background:-moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0));
	background:-webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background:-o-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background:-ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background:linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	border:1px solid #1A87B9;
	border-radius:4px;
	color:#fff;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
	font-family:'Helvetica Neue',sans-serif;
	font-size:17px;
	padding:8px 13px;
	margin-left: 25px;
}
button.IATS_Action:hover{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #188BC0), color-stop(1, #25A6E1) );
	background:-moz-linear-gradient( center top, #188BC0 5%, #25A6E1 100% );
	background-color:#188BC0;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#188BC0',endColorstr='#25A6E1');
}

button.IATS_IncreaseQty{
	border-color:transparent;
	border-width:0;
	border:none;
	display:inline;	
}
a.button{
    background: transparent url('bg_button_a.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

div.IATS_PaymentFrequencyItemDiv{
	display:block;
	font-size:0.9em;
	width:auto;
	overflow:visible;
	overflow-x:visible;
	padding:.2em 0 .2em 0;
	padding-left:140px;
	margin: 0 0.1em 0.59em 0.1em;
}

div.IATS_FooterDiv{
	display:block;
	font-size:0.9em;
	width:auto;
	padding:.2em 0 .2em 0;
}

span.IATS_ResponseHeader,
span.IATS_ResponseFooter{
    display: block;
	font-size:1.2em;
	font-weight:bold;
	padding:0.5em 0 0em 0;
	float:none;
	clear:both;
	margin:0px;
	width:auto;
}
span.IATS_ResponseStatus{
    display: block;
	font-size:1.2em;
	font-weight:bold;
	padding:0.5em 0 0em 0;
	float:none;
	clear:both;
	margin:0px;
	width:auto;
}
input.IATS_OtherAmount{
	margin:0pt 0pt 0pt 25px;
	width:60px;
	display:inline;
	float:none;
	line-height:1.5em;
	vertical-align:middle;
	border: 1px solid #9fb6ca;
}
div.IATS_SecureDataDiv{
	display:block;
	font-size:0.9em;
	width:auto;
	overflow:visible;
	overflow-x:visible;
	padding:.2em 0 .2em 3px;
}
div.IATS_SocialMediaDiv{
	display:block;
	font-size:0.8em;
	width:auto;
	overflow:visible;
	overflow-x:visible;
	padding:2em 0 .2em 0;
	position:center;
}
a.IATS_SocialLink{
	text-decoration:none;
	color:#999;
}

div.IATS_LearMoreDiv{
	font-size:0.8em;
	background-color: #f4f4f4;
	border: 1px solid #CCC;
	height: auto;
	width: 200px;
	padding: 5px;
	display:none;
	position:absolute;
}
div.IATS_SecurityFormDiv{
	height:auto;
	width:auto;
	border:1.5px solid;
	overflow:visible;
	padding-left:10px;
	padding-bottom:15px;
}

/* @end */